<section>
    <div>
        <button (click)="onClose()">
            X
        </button>
    </div>

    <div>
        <h1>
            {{new ? 'Nuevo cliente' : 'Actualizar cliente'}}
        </h1>
        <div>
            <input [(ngModel)]="nombres" placeholder="Nombres" ><br>
            <input [(ngModel)]="aPaterno" placeholder="Apellido paterno"><br>
            <input [(ngModel)]="aMaterno" placeholder="Apellido materno"><br>
            <input [(ngModel)]="direccion" placeholder="direccion"><br>
            <input [(ngModel)]="telefono" placeholder="telefono"><br>
            <input [(ngModel)]="fecNac" placeholder="año-mes-dia"><br>


            <div>
                @if (new) {
                    <button (click)="createCliente()">
                        Guardar
                    </button>
                } @else {
                    <button (click)="updateCliente()">
                        Actualizar
                    </button>
                }
            </div>
        </div>
    </div>
</section>
