<app-nav2></app-nav2>
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Bienvenido a Sushi Tec</title>
  <style>
    body {
      background-color: #f2f2f2;
    }
    .welcome-screen {
      margin-top: 100px;
      padding: 20px;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="welcome-screen text-center">
          <h1>Bienvenido a Sushi Tec</h1>
          <p>Disfruta de la mejor comida japonesa en nuestra amplia selección de sushi, sashimi y mucho más.</p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>

