<div>
  <button class="btn btn-danger boton" (click)="onClose()">X</button>
</div>
<br />
<br />

<div class="d-flex justify-content-center">
  <h1>
    {{ new ? "Nuevo menu" : "Actualizar menu" }}
  </h1>
</div>
<hr />

<div class="form-group">
  <input class="form-control" [(ngModel)]="name" placeholder="Nombre" /><br />
  <input
    class="form-control"
    [(ngModel)]="categoria"
    placeholder="Categoria"
  /><br />
  <input
    class="form-control"
    [(ngModel)]="ingredientes"
    placeholder="Ingredientes"
  /><br />
  <input
    class="form-control"
    [(ngModel)]="descripcion"
    placeholder="Descripción"
  /><br />
  <input class="form-control" [(ngModel)]="precio" placeholder="Precio" /><br />
  <input
    class="form-control"
    [(ngModel)]="img"
    placeholder="URL de Imagen"
  /><br />

  <div class="modal-footer">
    <div class="float-left">
      @if (new) {
      <button (click)="createMenu()" class="btn btn-primary">Guardar</button>
      } @else {
      <button (click)="updateMenu()" class="btn btn-primary">Actualizar</button>
      }
    </div>
  </div>
</div>
